extends layout

block content
	h1= title
	div(class="gif-container")
		div(class="gif-wrapper")
			img(src="http://" class="gif-front")
			div(class="gif-back")
		div(class="gif-wrapper")
			img(src="http://" class="gif-front")
			div(class="gif-back")
		div(class="gif-wrapper")
			img(src="http://" class="gif-front")
			div(class="gif-back")
		div(class="gif-wrapper")
			img(src="http://" class="gif-front")
			div(class="gif-back")
		div(class="gif-wrapper")
			img(src="http://" class="gif-front")
			div(class="gif-back")
		div(class="gif-wrapper")
			img(src="http://" class="gif-front")
			div(class="gif-back")
		div(class="gif-wrapper")
			img(src="http://" class="gif-front")
			div(class="gif-back")
		div(class="gif-wrapper")
			img(src="http://" class="gif-front")
			div(class="gif-back")
